################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/blazorImageProcessing
/src/obj
/src/Properties/PublishProfiles
/src/wwwroot/sample-data
/src/bin/Release/netstandard2.1/publish
/src/bin/Release/netstandard2.1
/.vs
